.product-wrapper-bg-pink {
    background: url("../../../../../img/grocery-bg.png") no-repeat center center;
    background-size: cover;
}

.product-wrapper-bg-green {
    background: url("../../../../../img/grocery-bg-1.png") no-repeat center center;
    background-size: cover;
}