.es-header-top-section {
  background: $es-green-100;
  border-bottom: 1px solid $es-green-100;
  padding: 0.8rem 0;
}

.es-divider {
  height: 16px;
  width: 2px;
  background: $es-gray-200;
}

.es-header-search-input {
  width: 170px;
}

.es-header-search-select {
  width: 250px;
}

.es-header-search-dropdown-list {
  top: 32px;
  left: 0px;
  border-color: $es-gray-100;
  box-shadow: $es-contact-form-shadow;

  a {
    color: black;
  }
  a:hover {
    background: $es-accent-color;
    color: #fff;
 
  }
}
