.input-reset:focus {
  outline: none;
  box-shadow: none;
}

.flex-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.es-w-250 {
  width: 250px;
}

.es-underline-hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 0.3s ease-out;
}

.es-underline-hover:hover::after {
  width: 100%;
}

.es-h-9 {
  height: 9rem;
}
.es-h-3 {
  font-size: 2.3rem;
}

.es-h-33 {
  font-size: 3rem;
}

.es-h-4 {
  font-size: 4rem;
}

.es-fs-inscription {
  font-size: 1.2rem;
}

.es-pt-6 {
  padding-top: 6rem;
}

.es-bg-purple {
  background: $purple-400;
}

.es-bg-green-300 {
  background: $es-green-300;
}

.es-hover-green:hover {
  background: $es-accent-color;
  color: white;
}

.es-circle-big {
  width: 9rem;
  height: 9rem;
}

.es-circle-small {
  width: 5rem;
  height: 5rem;
}
