.input-reset:focus {
  outline: none;
  box-shadow: none;
}

.flex-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.es-w-250 {
  width: 250px;
}

.es-underline-hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 0.3s ease-out;
}

.es-underline-hover:hover::after {
  width: 100%;
}

.es-h-9 {
  height: 9rem;
}
.es-h-3 {
  font-size: 2.3rem;
}

.es-h-33 {
  font-size: 3rem;
}

.es-h-4 {
  font-size: 4rem;
}

.es-fs-inscription {
  font-size: 1.2rem;
}

.es-bg-purple {
  background: $purple-400;
}

.es-bg-green-300 {
  background: $es-green-300;
}

.es-hover-green:hover {
  background: $es-accent-color;
  color: white;
}

.es-circle-big {
  width: 9rem;
  height: 9rem;
}

.es-circle-small {
  width: 5rem;
  height: 5rem;
}

.es-product-background {
  background: url("../../../img/vegetable.png") no-repeat center center;
  background-size: cover;
}

.bw-bg {
  background-image: linear-gradient(to bottom, white 50%, black 50%);
}

.es-fs-1 {
  font-size: 1rem;
}

.es-fs-07 {
  font-size: 0.7rem;
}

.es-fs-13 {
  font-size: 1.3rem;
}

.es-size-box-45px {
  width: 45px;
  height: 45px;
}


.form-check-input:focus {
  box-shadow: none;
}


.form-check-input[type=checkbox]:active, .form-check-input[type=checkbox]:checked {
  border-radius: 0;
  border: none;

}

.es-w-50px {
  width: 50px;
}

.es-dots-slick-thumb li {
  width: auto;
}
