@font-face {
  font-family: 'icomoon';
  src:  url('../../../fonts/icomoon.eot?n11zac');
  src:  url('../../../fonts/icomoon.eot?n11zac#iefix') format('embedded-opentype'),
    url('../../../fonts/icomoon.ttf?n11zac') format('truetype'),
    url('../../../fonts/icomoon.woff?n11zac') format('woff'),
    url('../../../fonts/icomoon.svg?n11zac#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anchor:before {
  content: "\e901";
  font-size: 1rem;
}
.icon-arrow-down:before {
  content: "\e902";
  color: #8e8e8e;
  font-size: 0.7rem;
}
.icon-arrow-right:before {
  content: "\e903";
  font-size: 0.7rem;
}
.icon-cart:before {
  content: "\e904";
  font-size: 1.3rem;
}
.icon-compaire:before {
  content: "\e905";
  font-size: 1.3rem;
}
.icon-email:before {
  content: "\e906";
  color: #27ae60;
}
.icon-phone:before {
  content: "\e907";
  color: #27ae60;
}
.icon-toogle-menu:before {
  content: "\e908";
  font-size: 0.7rem;
}
.icon-user-profile:before {
  content: "\e909";
  font-size: 1.3rem;
}
.icon-wishlist:before {
  content: "\e90a";
  font-size: 1.3rem;
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}








