@font-face {
  font-family: 'icomoon';
  src:  url('../../../fonts/icomoon.eot?7e7tpv');
  src:  url('../../../fonts/icomoon.eot?7e7tpv#iefix') format('embedded-opentype'),
    url('../../../fonts/icomoon.ttf?7e7tpv') format('truetype'),
    url('../../../fonts/icomoon.woff?7e7tpv') format('woff'),
    url('../../../fonts/icomoon.svg?7e7tpv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anchor:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
  color: #8e8e8e;
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e904";
}
.icon-compaire:before {
  content: "\e905";
}
.icon-email:before {
  content: "\e906";
  color: #27ae60;
}
.icon-phone:before {
  content: "\e907";
  color: #27ae60;
}
.icon-toogle-menu:before {
  content: "\e908";
}
.icon-user-profile:before {
  content: "\e909";
}
.icon-wishlist:before {
  content: "\e90a";
}
.icon-phone1:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}