.es-shop-btn {
  padding: 0.8rem 1.2rem;
  color: black;
  text-align: center;
  transition: ease-out;
  transition-duration: 0.3s;
  .icon-arrow-right {
    transition: ease-out;
    transition-duration: 0.3s;
  }

  &:hover {
    box-shadow: inset 300px 0 0 0 black;
    color: white;
    .icon-arrow-right {
      transform: translateX(5px);
    }
  }
}

.es-underline-animation {
  position: relative;
}

.es-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: green;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.es-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: red;
}


