.es-shop-btn {
  padding: 0.8rem 1.2rem;
//   background: $es-orange-300;
  color: black;
  text-align: center;
  transition: ease-out;
  transition-duration: 0.3s;
  .icon-arrow-right {
    transition: ease-out;
    transition-duration: 0.3s;
  }

  &:hover {
    box-shadow: inset 300px 0 0 0 black;
    color: white;
    .icon-arrow-right {
      transform: translateX(5px);
    }
  }
}
