.es-flesh-sale-section {
    background: url("../../../../../img/flash_sale.png") no-repeat center center;
    background-size: cover;
    padding: 3rem 3rem 3rem;
   
    .es-discount-item {
        position: absolute;
        top: 14rem;
        right: 7rem;
    }
}